.main-text{
    font-family: 'Roboto', sans-serif;
    margin: auto;
    /* color: white; */
    text-align: center;    
    
}
body{
    background-color: black;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}
#login-button {
    font-size: 16px;
    border-radius: 10px;
    background: #84bd00 ;
    color: white;
    border: 0;
    cursor: pointer2;
    font-weight: 200;
    margin: auto;
    display: flex; 
    justify-content: center;
    align-items: center;
    /* transition: background 0.2s; */ 
}
.intro-text{
  width: 500px;
  display: flex; 
  justify-content: center;
  align-items: center;
}
  .data-block{
    display: inline-block;
    width: 500px;
    height: 700px;
    padding: 5px;
    border: 1px solid black;
  }

  /* circle pack */
  #circle-pack{
    display: inline-block;
  }
  circle {
    fill:#6ac5fe; 
    opacity: 0.7;
    stroke: white;
  }
  circle:hover {
    fill-opacity: 1;
    stroke:black;
    stroke-width: 2;
 }
 /* .rounded-circle{
  display:inline-block
} */
.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

/* tooltips */
  .tooltip_ {
    position: relative; 
    display: block;
    border-bottom: 1px dotted black;
    width: 170px
  }
  .tooltip_ .tooltiptext_ {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }
  .tooltip_:hover .tooltiptext_ {
    visibility: visible;
    font-size: 12px;
  }

/* social media icons -about page */
  .social_icons_rounded ul {
    padding: 0;
    list-style: none;
    margin-top: 200px;
    margin-left: 500px
}

.social_icons_rounded ul li a {
    float: left;
    border-radius: 50%;
    line-height: 40px;
    color: #e0e0e0;
    height: 40px;
    width: 40px;
    text-align: center;
    margin-bottom: 40px;
    border: 1px solid #e0e0e0
}

.social_icons_rounded ul li a i {
    font-size: 16px
}

.btn .gap:hover {
    color: #fff;
    border: 1px solid #35bbec;
    box-shadow: 0px 0px 2px 2px #35bbec;
}
.gap {
    margin-left: 15px
}
/* loading gif show and hide */
  .status {
    background: url('loading.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}
.hide {
  display: none;
}
/* transparent navbar */
.nav {
  position: fixed;
  top: 0;
  left: 0;
}

.nav-transparent {
  background: linear-gradient(rgba(0, 0, 0, 0.4), transparent);
  font-size: 1.2em;
  z-index: 100;
}

.nav-transparent .nav-link,
.nav-transparent .navbar-brand, 
.nav-transparent p {
  color: white;
}

.nav-transparent .navbar-brand {
  font-weight: bold;
}

.nav-link:hover {
  color: #ffec5c;
}



.container {
  /* background-color: black; */
  background-image: url('listen.jpg') no-repeat center center;
  background-size: cover;
}