.main-text{
    font-family: 'Secular One', sans-serif;
    font-size: 600px;
    font-weight: lighter;
    margin: auto;
    color: white;
    text-align: center;
}
body{
    background-color: black;
    font-family: 'Secular One', sans-serif;
}
button, input[type="submit"] {
    font-size: 2em;
    border-radius: 10px;
    background: #84bd00 ;
    color: white;
    border: 0;
    cursor: pointer2
    font-weight: 600;
    position: absolute;
    margin: auto;
    /* transition: background 0.2s; */ 
  }
  .data-block{
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid black;
  }
  #circle-pack{
    display: inline-block;
  }
  circle {
    fill: indianred;
    opacity: 0.3;
    stroke: white;
  }
