.main-text{
    font-family: 'Secular One', sans-serif;
    font-size: 60px;
    font-weight: lighter;
    margin: auto;
    /* color: white; */
    text-align: center;             
}
body{
    /* background-color: black; */
    font-family: 'Secular One', sans-serif;
}
#login-button {
    font-size: 16px;
    border-radius: 10px;
    background: #84bd00 ;
    color: white;
    border: 0;
    cursor: pointer2;
    font-weight: 200;
    margin: auto;
    display: flex; 
    justify-content: center;
    align-items: center;
    /* transition: background 0.2s; */ 
}
.intro-text{
  width: 500px;
  display: flex; 
  justify-content: center;
  align-items: center;
}
  .data-block{
    display: inline-block;
    width: 500px;
    height: 700px;
    padding: 5px;
    border: 1px solid black;
  }
  #circle-pack{
    display: inline-block;
  }
  circle {
    fill:#6ac5fe; 
    opacity: 0.7;
    stroke: white;
  }
  circle:hover {
    fill-opacity: 1;
    stroke:black;
    stroke-width: 2;
 }
  .tooltip_ {
    position: relative; 
    display: block;
    border-bottom: 1px dotted black;
    width: 170px
  }
  .tooltip_ .tooltiptext_ {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }
  .tooltip_:hover .tooltiptext_ {
    visibility: visible;
    font-size: 12px;
  }
  .rounded-circle{
    display:inline-block
  }
  .node {
    cursor: pointer;
  }
  
  .node:hover {
    stroke: #000;
    stroke-width: 1.5px;
  }
  
  .node--leaf {
    fill: white;
  }
  
  .label {
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  }
  
  .label,
  .node--root,
  .node--leaf {
    pointer-events: none;
  }
  /* #network-chart{
    width: 100%;
    height: 900px;
    border: 1px solid lightgray;
    background-color:#333333;
  } */
