{% extends 'base.html' %}

{% block title %}About Synaesthetic{% endblock %}

{% block content %}

<div class="container-fluid" id="homepage">
<div class="main-text">
    <h1>About</h1>
</div>
<!-- <div id="center"> -->
<div id="about">
    <p>Synaesthetic was solely created by <a href="https://www.linkedin.com/in/corinnejachelski/">Corinne Jachelski</a> as a capstone project for Hackbright Academy's Software Engineering Intensive Program. Hackbright is an engineering school for women dedicated to the mission of fostering more diversity in the technology industry, and is consistently ranked as a Best Bootcamp by Course Report.</p>

    <p>Synaesthetic is a Spotify app for visualizing user-specific data, based on the idea of “seeing sound” (synesthesia) and loosely inspired by Corinne's excitement around her annual Spotify Unwrapped data. Utilizing OAuth and the Spotify Web API, users can explore their listening patterns and relationships among their top artists and genres via an interactive dashboard of stats and charts made with D3.js and Charts.js (aesthetic).</p>

    <div>
        <a href="https://github.com/corinnejachelski/synaesthetic">All project source code available here</a>
    </div>
</div>
<!-- </div>
 --><footer class="footer">

<div class="footer-copyright text-center py-3">
    <div class="social_icons_rounded">
    <ul>
        <li><a href="https://github.com/corinnejachelski" class="gap hover"><i class="fa fa-github" aria-hidden="true"></i></a> </li>
        <li><a href="https://twitter.com/CJachelski" class="gap hover"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
        <li><a href="https://www.linkedin.com/in/corinnejachelski/" class="gap hover"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
<!--         <li><a href="#" class="gap hover"><i class="fa fa-envelope" aria-hidden="true"></i></a> </li> -->
    </ul>
    </div>
</div>
</footer>
</div>
{% endblock %}></a>