{% extends 'base.html' %}

{% block title %}Synaesthetic{% endblock %}

{% block content %}

<!--     <p class="intro-text">Synesthesia -  a perceptual phenomenon in which stimulation of one sensory or cognitive pathway leads to involuntary experiences in a second sensory or cognitive pathway, such as seeing sound. From the Greek "joined perception"</p>
    <p class="intro-text">Aesthetic - giving or designed to give pleasure through beauty; of pleasing appearance</p> -->

<div class="main-text">
    <h1>Synaesthetic</h1>
    <h3>Visualizing sound.</h3>
</div>
<div id="login">
    <form action="/login">
    <button type="submit" id="login-button">Log In With Spotify</button>
    </form>
</div>
{% endblock %}