{% extends 'base.html' %}

{% block title %}Synaesthetic{% endblock %}

{% block content %}

<div class="container-fluid" id="homepage">


    <div id="center">
        <div class="main-text">
            <h1>Synaesthetic</h1>
            <h3>Visualizing sound.</h3>
        </div>
        <div id="login">
            <form action="/login">
            <button type="submit" id="login-button">Log In With Spotify</button>
            </form>
        </div>
    </div>
</div>

<footer class="footer">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
        <p>Synesthesia - from the Greek "joined perception" (i.e. seeing sound) <br>
    Aesthetic - giving or designed to give pleasure through beauty; of pleasing appearance</p>
    <a href="/about"> <b>About Synaesthetic</b></a>
  </div>
  <!-- Copyright -->

</footer>
{% endblock %}