{% extends 'base.html' %}

{% block title %}{{display_name}}'s Synaesthetic{% endblock %}


{% block content %}

<nav class="navbar navbar-expand-md nav-transparent w-100">
  <div class="container-fluid">
    <a class="navbar-brand">Synaesthetic</a>
          <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>

    <div id="navbar" class="navbar-collapse collapse navbar-expand-lg">
      
    </div>
    <p class="my-auto">
      <a><img src={{image_url}} alt=user_image width="50" height="50" class="rounded-circle"></a>
      <a class="navbar-brand">{{display_name}}'s Data</a>
    </p>
  </div>
</nav>

<div class="container-fluid">

  <div class="row">
    <div class="col-7">
      <div id="chart-intro">
        <h2>Artists and Genres</h2>
        <p>How related or diverse is your taste in artists?</p>
        <div class="artists-time-range">
          Select a time frame for top artists:
          <form id="time-range" style="display: inline-block;">
            <select name="artists-time-range" id="artists-time-range" class="selectpicker">
              <option value="short_term">Short-term (4 weeks)</option>
              <option value="medium_term">Medium-term (6 months) - default shown</option>
              <option value="long_term">Long-term (years)</option>
            </select>
            <input type="submit" value="Submit">
          </form>
        </div>

        <div class="user-playlists">
          Analyze a playlist:
          <form id="playlist" style="display: inline-block;">
            <select name="playlist-selection" id="playlist-selection" class="selectpicker">
              {% for playlist in playlist_names %}
              <option>{{playlist}}</option>
              {% endfor %}
            </select>
            <input type="submit" value="Submit">
          </form>
        </div>
    </div>

      <div id="circle-pack">
        <div class="status" id="status"></div>
        <svg id="circle-pack-svg" width="700" height="700">
        </svg>
    </div>
  </div>

    <div class="col-5">
      <div id="genre-data" class="data-block">
        <p>Based on your top artists from the past 6 months:</p>
        <ul id="genre-stats">
          <li>You listen to {{genre_count}} genres among {{num_artists}} artists.</li>
          <li>Your top genre is <b>{{max_genre}}</b> with <b>{{max_genre_artists}}</b> artists.</li>
        </ul>
        <p>The chart to the left does not show all genres. Artists can have multiple genres and are "optimized" to only 
        show up in the genre with the highest number of other artists you listen to.</p>
        <a id= "genres" class="btn btn-primary btn-sm" data-toggle="collapse" href="#genre-table" role="button" aria-expanded="false" aria-controls="genre-table" data-toggle="tooltip" data-placement="bottom" title="Click again to close table">Show All My Genres</a>

        <div class="collapse" id="genre-table">
          <ul id="list-group" style="height:400px;width:450px;overflow:auto; background-color: black;"></ul>
        </div>
      </div>
  </div>
</div>

<div id="nested-genres-div">
  <div class="chart-intro">
    <h2>Sub-Genres</h2>
    <p>Genres are nested in the chart below based on a shared word (i.e. "pop" will contain "acoustic pop", "pop rap", etc)</p>
    <p>Click on any genre's circle to view its sub-genres.</p>
  </div>
  <svg id="nested-genres" width="700" height="700">
  </svg>
</div>

  <div id="related-artists" class="row">
    <div class="col-7">
      <div id="chart-intro">
        <h2> Related Artists </h2>
        <p>A visual representation of connections in your artists' "Fans Also Like" pages on Spotify</p>
        <p>Artists are connected with lines between them if they are considered "related" by Spotify</p>
      </div>
    
      <div id="network-chart">
        <div class="status" id="rel-artists-status"></div>
      </div>
    </div>
    <div class ="col-5">
      <div id="rel-artists-about" class="data-block">
        <p>The artists in this network chart are your top {{num_artists}} artists over the past 6 months.</p>
        <p>If you've interacted with the buttons at the top to view your top artists over different
        time frames or playlists, click here to view a network of up to 250 artists you listen to.</p>
        <button id="redirect-all-related" class="btn btn-primary btn-sm" onclick="pageRedirect()">Show Me More Related Artists</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-7">
      <div>
        <h2>Audio Features</h2>
        <p>How does any song in your top 50 tracks compare to your average listening preferences?</p>
      </div>

        <button id="random-song" class="btn btn-primary btn-sm">Get A Random Song</button>
       <canvas id="radar-chart"></canvas>
    </div>

    <div class="col-5">
      <div id="audio-data" class="data-block">
        <p>Your highest average audio feature is <b>{{max_feature}}</b>.</p>
        You tend to listen to songs that are: 
          <ul id="audio-features">
          {% for feature in audio_stats %}
            <li>{{feature}}</li>
          {% endfor %}
          </ul>
      
        <p><b>What are audio features?</b><br>
        A set of metrics/characteristics for each Spotify song that help to classify it.
        </p>

        <p>Hover over each feature to learn more.</p>

        <div class="tooltip_"> &#128131; Danceability
          <span class="tooltiptext_">Danceability - Describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity</span>
        </div>

        <div class="tooltip_"> &#127775; Energy
          <span class="tooltiptext_">Energy - Represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy. For example, death metal has high energy, while a Bach prelude scores low on the scale.</span>
        </div>

        <div class="tooltip_"> &#128483; Speechiness
          <span class="tooltiptext_">Speechiness - Detects the presence of spoken words in a track. The more exclusively speech-like the recording (e.g. talk show, audio book, poetry), the closer to 1.0 the attribute value. Values above 0.66 describe tracks that are probably made entirely of spoken words. Values between 0.33 and 0.66 describe tracks that may contain both music and speech, either in sections or layered, including such cases as rap music. Values below 0.33 most likely represent music and other non-speech-like tracks.</span>
        </div>

        <div class="tooltip_"> &#127931; Acousticness
          <span class="tooltiptext_">Acousticness - A confidence measure from 0.0 to 1.0 of whether the track is acoustic</span>
        </div>

        <div class="tooltip_">  &#127932; Instrumentalness
          <span class="tooltiptext_">Instrumentalness - Predicts whether a track contains no vocals. “Ooh” and “aah” sounds are treated as instrumental in this context. The closer the instrumentalness value is to 1.0, the greater likelihood the track contains no vocal content. Values above 0.5 are intended to represent instrumental tracks</span>
        </div>

        <div class="tooltip_"> &#128079; Liveness
          <span class="tooltiptext_">Liveness - Detects the presence of an audience in the recording. Higher liveness values represent an increased probability that the track was performed live</span>
        </div>

        <div class="tooltip_"> &#127752; Valence
          <span class="tooltiptext_">Valence - Describes the musical positiveness conveyed by a track. Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry)</span>
        </div>

      </div>
    </div>
  </div>
</div>

 <script src="/static/datapage.js"></script>

{% endblock %}


