{% extends 'base.html' %}

{% block title %}My Data{% endblock %}


{% block content %}

<div class="container-fluid">
  <div>
    <img src={{image_url}} alt=user_image width="50" height="50" class="rounded-circle">
    <h1>{{display_name}}'s Data</h1>
  </div>
  <div class="row">
    <div class="col-7">
      <div id="circle-pack">
        <h2>Artists and Genres</h2>
        <p>How related or diverse is your taste in artists?</p>
      </div>
      <div>
      <svg width="700" height="700">
        <g></g>
      </svg>
    </div>
  </div>

    <div class="col-5">
      <div id="genre-data" class="data-block">
        <p>You listen to {{genre_count}} genres among {{num_artists}} top artists.</p>
        <p>Your top genre is {{max_genre}} with {{max_genre_artists}} artists.</p>
        <a id= "genres" class="btn btn-primary" data-toggle="collapse" href="#genre-table" role="button" aria-expanded="false" aria-controls="genre-table" data-toggle="tooltip" data-placement="bottom" title="Click again to close table">Show All My Genres</a>

        <div class="collapse multi-collapse" id="genre-table">
          <ul id="list-group" style="height:300px;overflow:auto;"></ul>
        </div>
<!--         <button id="genres">Show All My Genres</button>
        <div id="all-genres"></div>
          <ul id="list-group"></ul>
        </div> -->
    </div>
  </div>

  <h2> Related Artists </h2>
  <div id="network-chart"></div>

  <div class="row">
    <div>
      <h2>Audio Features</h2>
      <p>How does any song in your top 50 tracks compare to your average listening preferences?</p>
    </div>

<!--     <div class="col-7">
      <div>
        <button id="random-song" class="btn btn-primary">Get A Random Song</button>
      </div>
      <div class="chart-container" style="position: relative; height:60vh; width:60vw">
        <canvas id="radar-chart"></canvas>
      </div>
    </div> -->

      <div class="col-7">
        <button id="random-song" class="btn btn-primary btn-sm">Get A Random Song</button>
       <canvas id="radar-chart"></canvas>
    </div>

    <div class="col-5">
      <div id="audio-data" class="data-block">
        <p>What are audio features?</p>

        <div class="tooltip_"> Acousticness
          <span class="tooltiptext_">A confidence measure from 0.0 to 1.0 of whether the track is acoustic</span>
        </div>

        <div class="tooltip_"> Danceability
          <span class="tooltiptext_">Describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity</span>
        </div>

        <div class="tooltip_"> Energy
          <span class="tooltiptext_">Represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy. For example, death metal has high energy, while a Bach prelude scores low on the scale.</span>
        </div>

        <div class="tooltip_"> Instrumentalness
          <span class="tooltiptext_">Predicts whether a track contains no vocals. “Ooh” and “aah” sounds are treated as instrumental in this context. The closer the instrumentalness value is to 1.0, the greater likelihood the track contains no vocal content. Values above 0.5 are intended to represent instrumental tracks</span>
        </div>

        <div class="tooltip_"> Liveness
          <span class="tooltiptext_">Detects the presence of an audience in the recording. Higher liveness values represent an increased probability that the track was performed live</span>
        </div>

        <div class="tooltip_"> Speechiness
          <span class="tooltiptext_">Detects the presence of spoken words in a track. The more exclusively speech-like the recording (e.g. talk show, audio book, poetry), the closer to 1.0 the attribute value. Values above 0.66 describe tracks that are probably made entirely of spoken words. Values between 0.33 and 0.66 describe tracks that may contain both music and speech, either in sections or layered, including such cases as rap music. Values below 0.33 most likely represent music and other non-speech-like tracks./span>
        </div>

        <div class="tooltip_"> Valence
          <span class="tooltiptext_">Describes the musical positiveness conveyed by a track. Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry)</span>
        </div>

      </div>
    </div>
  </div>
 </div>
 <script src="/static/datapage.js"></script>

{% endblock %}


