<!DOCTYPE html>
<head> 
  <style>
  circle {
    fill: indianred;
    opacity: 0.3;
    stroke: white;
  }
  </style>
<!-- JQuery -->
 <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin></script>
 <!-- Charts.js -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
   <!-- d3.js -->
  <script src="https://d3js.org/d3.v5.js"></script>
</head>
<body>
  <h1>{{display_name}}'s Data</h1>

  <div id="circle-pack">
    <h2>Artists and Genres</h2>
    <p>How related or diverse is your taste in artists?</p>
  </div>

  <svg width="800" height="800">
    <g></g>
  </svg>

  <div id="genre-data" class="data-block">
    <p>You listen to {{genre_count}} genres among {{num_artists}} top artists.</p>
    <p>Your top genre is {{max_genre}} with {{max_genre_artists}} artists.</p>
  </div>

  <h2>Audio Features</h2>
  <canvas id="radar-chart"></canvas>

  <div id="audio-data" class="data-block">
  </div>
 
 <script src="/static/datapage.js"></script>

</body>


