<!DOCTYPE html>
<head> 
  <style>
  circle {
    fill: indianred;
    opacity: 0.3;
    stroke: white;
  }
  </style>

  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.js"></script>
</head>
<body>
  <h1>{{display_name}}'s Data</h1>

  <div id="circle-pack">
    <h2>Artists and Genres</h2>
    <p>How related or diverse is your taste in artists?</p>
  </div>

  <svg width="800" height="800">
    <g></g>
  </svg>

  <p>You listen to {{genre_count}} genres among {{num_artists}} top artists.</p>
  <p>Your top genre is {{max_genre}} with {{max_genre_artists}} artists.</p>

  <script>
  $.get('/api/artists', (response) => {
    console.log(response); 

        const packLayout = d3.pack()
  .size([800, 800])
  //space between hierarchy circles
  .padding(10)

//returns an object with data structure that represents hierarchy
const rootNode = d3.hierarchy(response) 

// call .sum() on the hierarchy object root before applying the pack layout
rootNode.sum(function(d) {
  return d.value;
});

//pack layout adds x, y and r (for radius) properties to each node
packLayout(rootNode);

const nodes = d3.select('svg g')
  .selectAll('g')
  .data(rootNode.descendants()) //returns an array of descendants  
  .enter()
  .append('g')
  .attr('transform', function(d) {return 'translate(' + [d.x, d.y] + ')'});

nodes.append('circle')
  .attr('r', function(d) { return d.r; })


  nodes.append('text')
  .attr('dy', 10)
  .attr('dx', -20)
  // .text(function(d) { return d.children === undefined ? d.data.name : '';}) 
  .text(function(d) { return d.data.name }) 
      .attr("font-family", "sans-serif")
      .attr("font-size", "12px")
      .attr("fill", "black");

 });

  </script>

</body>


