<!doctype html>
<html>
<head>
  <title>Network | Basic usage</title>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis-network.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>

</head>

<body>

<div id="network-chart"></div>

<script type="text/javascript">
 $.get('/api/related-artists', (response) => {
    console.log(response); 
  // create an array with nodes
  const nodes = response.nodes;

  // create an array with edges
  const edges = response.edges;

  // create a network
  const container = document.getElementById('network-chart');
  const data= {
    nodes: nodes,
    edges: edges,
  };
  const options = {
    interaction:{
      hover:true,
      hoverConnectedEdges:true,
      dragNodes:true,
      zoomView:true,
      selectConnectedEdges:true,
      selectable:true,
    },
    nodes: {
        size:60,
        borderWidth: 1,
        borderWidthSelected: 4,
        color: {
          border: '#000000',
          highlight: {border: '#00CDCD'},
          hover: {border: '#00CDCD'},
        },
        font:{color:'#000000', "size": 26},
    },
    edges: {
      color:{
        color:'#000000',
        highlight: '#00CDCD',
        hover: '#00CDCD',
      },
      hoverWidth: 4,
      width: 2
    },
    physics: {
      barnesHut: {
        //avoidOverlap: 1,
        centralGravity: 0.2,
        springLength: 200,
      },
      repulsion:{
        nodeDistance: 1000,
      },
    },
    // tooltip: {
    //   fontColor: "black",
    //   fontSize: 14, // px
    //   fontFace: "verdana",
    //   color: {
    //     border: "#666",
    //     background: "#FFFFC6"
    //   }
    // },
    width: '700px',
    height: '700px'
  };
  const network = new vis.Network(container, data, options);

   network.on("click", function (params) {
      params.event = "[original event]";
 
  });
  
  network.on("hoverNode", function (params) {
    params.event = "[original event]";

  });

});

</script>

</body>
</html>